.task {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
}
.container {
    padding: 5em;
}
.button {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    font-family: serif;
    cursor: pointer;
}
.marginLeftAuto {
    margin-left: auto;
}